@import (reference) '~antd/es/style/themes/index';

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 96em !important;
}

.category_name {
  height: 100%;
}

.category_body {
  :global {
    .ant-pro-card-body-wrap {
      padding: 0;
    }
  }
}

.site_link {
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
