<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuretru.web.navigation.mapper.WebMapper">

    <resultMap id="tags" type="com.kuretru.web.navigation.entity.view.WebTagVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="categories" column="id" select="listCategories"/>
    </resultMap>

    <resultMap id="categories" type="com.kuretru.web.navigation.entity.view.WebCategoryVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="sites" column="id" select="listSites"/>
    </resultMap>

    <resultMap id="sites" type="com.kuretru.web.navigation.entity.view.WebSiteVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="imageUrl" column="image_url"/>
        <result property="siteUrl" column="site_url"/>
    </resultMap>

    <select id="listTags" resultMap="tags">
        select id, name
        from web_tag
        order by sequence asc
    </select>

    <select id="listCategories" resultMap="categories">
        select id, name
        from web_category
        where tag_id = #{tagId}
        order by sequence asc
    </select>

    <select id="listSites" resultMap="sites">
        select id, name, image_url, site_url
        from web_site
        where category_id = #{categoryId}
        order by sequence asc
    </select>

</mapper>