[Unit]
Description=Aries-Navigation API
After=syslog.target

[Service]
User=nginx
WorkingDirectory=/home/nginx/stage.kuretru.com/api
ExecStart=/usr/bin/java -Xmx256m -jar aries-navigation-api.jar --spring.profiles.active=stage
SuccessExitStatus=143
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
